/*----------------------------- General ----------------------------- */

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    font-family: sans-serif;
}

div,
header,
nav,
ul,
h1,
h2 {
    box-sizing: border-box;
}

/*----------------------------- Header ----------------------------- */

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 1rem 6.25rem;

    font-size: 1rem;
}


.logo_container {
    height: 100%;
}

.nav_container {
    min-width: 320px;
    display: flex;
    align-items: center;
    gap: 2rem;

}

.nav_list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.nav_links {
    text-decoration: none;
    color: black;
}

.nav .nav_list .nav_items_list {
    list-style-type: none;
}

.log_in {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-size: 1rem;
    gap: 1rem;

    background-color: #4CAF4F;
    border: 0;
    border-radius: 2.78px;
    padding: 1rem 1rem;


}

.logo_container img {
    min-width: 12rem;
}

